.card-link:hover {
  cursor: pointer;
}

.card-container {
    img {
      width: 100%;
      height: auto;
    }
    
    p, h2 {
      margin: 12px 0;
    }
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #979797;
  }
  
  .card-title {
    font-weight: 800;
  }
  
  .card-description {
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .card-time {
    color: #979797;
    font-size: 13px;
  }