.navigation-outer-container {
   background-color: #52796F;
   width: 100%;

   position: absolute;
   z-index: 1;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
  }

  .navigation-inner-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
  }
  
  .main-nav, .secondary-nav {
    list-style-type: none;
    color: white;
    display: none;

    li:hover {
      cursor: pointer;
    }
  }

  .main-nav {
    li {
      font-weight: 500;
    }
  }
  
  .secondary-nav {
    img {
      height: 20px;
      width: 20px;
      filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(41deg) brightness(103%) contrast(101%);
    }
  }

  #nav-icon {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
  }

  #nav-icon span:nth-child(1) {
    top: 6px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 15px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 24px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%;
  }
  


  @media screen and (min-width: 768px) {
    #nav-icon {
      display: none;
    }
  
    .main-nav, .secondary-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
  } 