.header-outer-container {
    background-color: #52796F;
    color: white;
    padding: calc(19vmin + 44px) max(4vmin,20px) 19vmin max(4vmin,20px);
    text-align: center;
  }
  
  
  .logo {
    height: 120px;
    width: 60px;
    background-color: white;
    margin: 0 auto;
  }
  
  .header-description {
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 12px;
    max-width: 640px;
  }
  
  