.footer-container {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;

    span {
        font-size: 13px;
    }
}

#copyright {
    color: #979797;
    padding-left: 5px;
}